@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #EDFFA9;
    font-family: 'Roboto', sans-serif;

}
div{
    background-color:  #FDBAF8 ;
    padding: 5%;
    border-radius: 10px;
}


button{
    margin-top: 15%;
    border-style: none;
    cursor: pointer;
    font-size: large;
    width: 30%;
    height: 30px;
    background-color: #B0EFEB;
    border-radius: 10px;
}

.voltar{
    margin-left: 42%;
    margin-top: 5%;
    display: flex;
    border-style: none;
    cursor: pointer;
    width: auto;
    font-size: 20px;
    height: 30px;
    border-radius: 10px;
    background-color: #B0EFEB;
}